.vscode/
src/.vscode
src/out
src/rust/target
src/arch
src/build
src/compat
src/demos
src/doc
src/drivers
src/include
src/kernel
src/lib
src/osdepends
src/shell
src/targets
src/test
src/tests
src/tools
src/.config
src/.config.old
src/config.mk
src/Makefile
src/README.md
src/README_EN.md
