.vscode/
src/.vscode
src/arch
src/build
src/demo
src/drivers
src/kernel
src/lib
src/out
src/rust/target
src/shell
src/targets
src/test
src/tools
src/.config
src/.config.old
src/config.mk
src/Makefile
src/README.md
